<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns="http://www.w3.org/1999/html">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>CCAFS One-Stop Shop | Test Search Engine</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="CCAFS One-Stop Shop. Developed by QLands" name="description" />
    <meta content="QLands" name="author" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />

    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="{{request.static_url('ccafsonestop:static/pyramid-16x16.png')}}" /> </head>
<!-- END HEAD -->

<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-content-white">
<div class="page-wrapper">

    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">

        <!-- BEGIN CONTENT -->

        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->

            <!-- BEGIN PAGE TITLE-->
            <h1 class="page-title"> CCAFS One-Stop shop

            </h1>
            <!-- END PAGE TITLE-->
            <!-- END PAGE HEADER-->
            <div class="search-page search-content-1">
                <div class="search-bar ">
                    <div class="row">
                        <div class="col-md-12">

                            <form method="post" action="{{ request.path }}" class="form-horizontal">
                                <div class="form-body">
                                    <div class="form-group form-md-line-input">
                                        <div class="col-md-11">
                                            <input type="hidden" name="activefacets" value="{{ fparam }}">
                                            <input type="text" class="form-control" name="searchtext" value="{{ qparam }}" placeholder="Search for...">

                                        </div>
                                        <div class="col-md-1">
                                                <span class="input-group-btn">
                                                    <button class="btn blue" name="btnsearch" type="submit">Go!</button>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post" action="{{ request.path }}">
                                <input type="hidden" name="activefacets" value="{{ fparam }}">
                                <input type="hidden" name="searchtext" value="{{ qparam }}">

                                {#
                                {% for afacet in facetArray %}
                                <button type="submit" name="remove" value="{{ afacet }}" class="btn red btn-sm" style="width: auto">
                                    {{ afacet }} <i class="fa fa-remove"></i>
                                </button>
                                {% endfor %}
                            #}


                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="search-container ">
                            <h2><span class="fa fa-search"></span> Advanced search</h2>
                            <div class="row">
                                <form method="post" action="{{ request.path }}" class="form-horizontal">
                                    <input type="hidden" name="activefacets" value="{{ fparam }}">
                                    <input type="hidden" name="searchtext" value="{{ qparam }}">
                                    <div class="form-body">
                                        {% for afacet in facetArray2 %}
                                            <div class="form-group form-md-line-input">
                                                <div class="col-md-6">
                                                    <select class="form-control" name="dfacettype" value="" placeholder="Facet" disabled>
                                                        <option>{{ afacet.name }}</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-5">
                                                    <select class="form-control" name="dfacetvalue" id="dacetvalue" value="" placeholder="Facet" disabled>
                                                        <option>{{ afacet.value  }}</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-1">
                                                    <button class="btn red" name="remove" value="{{ afacet.internal }}" type="submit">
                                                        <i class="fa fa-remove"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <div class="form-group form-md-line-input">
                                            <div class="col-md-6">
                                                <select class="form-control" name="facettype" value="" placeholder="Facet" onchange="loadItems(this)">
                                                    <option>Documents</option>
                                                    <option>Subjects</option>
                                                    <option>Regions</option>
                                                    <option>Countries</option>
                                                </select>
                                            </div>
                                            <div class="col-md-5">
                                                <select class="form-control" name="facetvalue" id="facetvalue" value="" placeholder="Facet">
                                                    {% for doc in doclist %}
                                                        <option>{{ doc.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-md-1">
                                                <button class="btn blue" name="facetadd" type="submit">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="search-container ">


                            <li class="search-item-header">
                                <div class="row">
                                    <div class="col-sm-9 col-xs-8">
                                        {% if filtered == False %}
                                            <h3>Showing the latest 7 documents</h3>
                                        {% else %}
                                            <h3>Showing 7 documents of {{ hits }}</h3>
                                        {% endif %}
                                    </div>
                                </div>
                                <hr>
                            </li>

                            {% for result in results %}

                                <li class="search-item clearfix">
                                    <a onclick="showDocumentDetails('{{ result.jsonData }}')">
                                        <img src="{{ result.thumbnail_url }}" />
                                    </a>
                                    <div class="search-content">
                                        <h2 class="search-title">
                                            <a onclick="showDocumentDetails('{{ result.jsonData }}')">{{ result.title[0] }}</a>
                                        </h2>
                                        {% if 'description' in result.keys() %}
                                            <p class="search-desc"> {{ result.description[0] }} </p>
                                        {% else %}
                                            <p class="search-desc"> Without description </p>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endfor %}

                            <div class="search-pagination">
                                {% if filtered == True %}
                                    <ul class="pagination">
                                        {% for page in pagearray %}
                                            {{ page }}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {#
                    <div class="col-md-5">
                        <!-- BEGIN PORTLET-->
                        <div class="portlet light ">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-edit font-dark"></i>
                                    <span class="caption-subject font-dark bold uppercase">Facets</span>
                                </div>

                            </div>
                            <div class="portlet-body">
                                <div class="note note-success">
                                    <h4 class="block">Document types</h4>
                                    <p>
                                    <form method="post" action="{{ request.path }}">
                                        <input type="hidden" name="searchtext" value="{{ qparam }}">
                                        <input type="hidden" name="activefacets" value="{{ fparam }}">
                                        {% for item in documents%}
                                            <button type="submit" name="fdocuments" value="{{ item.name }}" class="btn blue btn-circle">{{ item.name }} ({{ item.nitems }})</button>
                                        {% endfor %}
                                    </form>

                                    </p>
                                </div>
                            </div>

                            <div class="portlet-body">
                                <div class="note note-success">
                                    <h4 class="block">Subjects</h4>
                                    <p>
                                    <form method="post" action="{{ request.path }}">
                                        <input type="hidden" name="searchtext" value="{{ qparam }}">
                                        <input type="hidden" name="activefacets" value="{{ fparam }}">
                                        {% for item in subjects%}
                                            <button type="submit" name="fsubjects" value="{{ item.name }}" class="btn blue btn-circle">{{ item.name }} ({{ item.nitems }})</button>
                                        {% endfor %}
                                    </form>
                                    </p>
                                </div>
                            </div>

                            <div class="portlet-body">
                                <div class="note note-success">
                                    <h4 class="block">Regions</h4>
                                    <p>
                                    <form method="post" action="{{ request.path }}">
                                        <input type="hidden" name="searchtext" value="{{ qparam }}">
                                        <input type="hidden" name="activefacets" value="{{ fparam }}">
                                        {% for item in regions%}
                                            <button type="submit" name="fregions" value="{{ item.name }}" class="btn blue btn-circle">{{ item.name }} ({{ item.nitems }})</button>
                                        {% endfor %}
                                    </form>
                                    </p>
                                </div>
                            </div>

                            <div class="portlet-body">
                                <div class="note note-success">
                                    <h4 class="block">Countries</h4>
                                    <p>
                                    <form method="post" action="{{ request.path }}">
                                        <input type="hidden" name="searchtext" value="{{ qparam }}">
                                        <input type="hidden" name="activefacets" value="{{ fparam }}">
                                        {% for item in countries%}
                                            <button type="submit" name="fcountries" value="{{ item.name }}" class="btn blue btn-circle">{{ item.name }} ({{ item.nitems }})</button>
                                        {% endfor %}
                                    </form>
                                    </p>
                                </div>
                            </div>


                        </div>
                        <!-- END PORTLET-->
                    </div>
                    #}
                </div>
            </div>
        </div>
        <!-- END CONTENT BODY -->

        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner"> 2017 &copy; CCAFS
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <!-- END FOOTER -->
</div>

<div class="modal fade bs-modal-lg" id="large" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-with-percentage">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Document details</h4>
            </div>
            <div class="modal-body">
                {% snippet 'snippets/details.jinja2' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

</body>

</html>