<b class="ccafs-element">Author</b><br/>
<small id="doc_creator" class="ccafs-content">Without authors</small>
<p></p>
<b class="ccafs-element">Citation</b><br/>
<small id="doc_identifier" class="ccafs-content">Without identifier.</small>

<table class="table" >
    <tbody>
    <tr style="border: hidden">
        <td style="width: 50%">
            <b class="ccafs-element">URL</b><br/>
            <small class="ccafs-content"> <a id="doc_url2">Without url.</a></small>
        </td>
        <td style="width: 50%">
            <b class="ccafs-element">Format</b><br/>
            <small id="doc_format" class="ccafs-content">Without format.</small>
        </td>
    </tr>
    <tr style="border: hidden">
        <td style="width: 50%">
            <b class="ccafs-element">Publisher</b><br/>
            <small id="doc_publisher" class="ccafs-content">Without publisher.</small>
        </td>
        <td style="width: 50%">
            <b class="ccafs-element">Contributors</b><br/>
            <small id="doc_contributors" class="ccafs-content">Without contributors.</small>
        </td>
    </tr>
    <tr style="border: hidden">
        <td style="width: 50%">
            <b class="ccafs-element">Production date</b><br/>
            <small id="doc_production_date" class="ccafs-content">Without production date.</small>
        </td>
        <td style="width: 50%">
            <b class="ccafs-element">Distribution date</b><br/>
            <small id="doc_distribution_date" class="ccafs-content">Without distribution date.</small>
        </td>
    </tr>
    <tr style="border: hidden">
        <td style="width: 50%">
            <b class="ccafs-element">Type</b><br/>
            <small id="doc_type" class="ccafs-content">Without type.</small>
        </td>
        <td style="width: 50%">
            <b class="ccafs-element">Source</b><br/>
            <small id="doc_source" class="ccafs-content">Without source.</small>
        </td>
    </tr>
    <tr style="border: hidden">
        <td style="width: 50%">
            <b class="ccafs-element">Language</b><br/>
            <small id="doc_language" class="ccafs-content">Without language.</small>
        </td>
        <td style="width: 50%">
            <b class="ccafs-element">Relations</b><br/>
            <small id="doc_relation" class="ccafs-content">Without relations.</small>
        </td>
    </tr>
    <tr style="border: hidden">
        <td style="width: 50%">
            <b class="ccafs-element">Regions</b><br/>
            <small id="doc_coverage_region" class="ccafs-content">Without regions.</small>
        </td>
        <td style="width: 50%">
            <b class="ccafs-element">Countries</b><br/>
            <small id="doc_coverage_country" class="ccafs-content">Without countries.</small>
        </td>
    </tr>
    <tr style="border: hidden">
        <td style="width: 50%">
            <b class="ccafs-element">Administrative units</b><br/>
            <small id="doc_coverage_admin_unit" class="ccafs-content">Without administrative units.</small>
        </td>
        <td style="width: 50%">
            <b class="ccafs-element">Rights</b><br/>
            <small id="doc_rights" class="ccafs-content">Without rigths.</small>
        </td>
    </tr>

    <tr style="border: hidden">
        <td style="width: 50%">
            <b class="ccafs-element">Contact</b><br/>
            <small id="doc_contact" class="ccafs-content">Without contact.</small>
        </td>
        <td style="width: 50%">

        </td>
    </tr>

    </tbody>
</table>