<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar">
            <!-- PORTLET MAIN -->
            <div class="portlet light profile-sidebar-portlet ">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic user-box-border">
                    <img id="docimage" src="../assets/pages/media/profile/profile_user.jpg" class="img-responsive" alt=""> </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <!-- END SIDEBAR USER TITLE -->

                <!-- END MENU -->
            </div>
        </div>
        <!-- END BEGIN PROFILE SIDEBAR -->
        <!-- BEGIN PROFILE CONTENT -->
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light ">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span id="doctitle" class="caption-subject font-blue-madison bold uppercase">Document details</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content maximum_height" id="cgcore">
                                <div class="list-group">
                                    <a class="list-group-item " id="doc_url2">
                                        <h4 class="list-group-item-heading">URL</h4>
                                        <p class="list-group-item-text" id="doc_url"> Without url. </p>
                                    </a>
                                    <a class="list-group-item ">
                                        <h4 class="list-group-item-heading">Description</h4>
                                        <p class="list-group-item-text" id="doc_description"> Without description. </p>
                                    </a>
                                    <a class="list-group-item ">
                                        <h4 class="list-group-item-heading">Subjects</h4>
                                        <p class="list-group-item-text" id="doc_subject"> Without subjects. </p>
                                    </a>
                                    <a class="list-group-item">
                                        <h4 class="list-group-item-heading">Authors</h4>
                                        <p class="list-group-item-text" id="doc_creator"> Without authors. </p>
                                    </a>
                                    <a class="list-group-item">
                                        <h4 class="list-group-item-heading">Publisher</h4>
                                        <p class="list-group-item-text" id="doc_publisher"> Without publisher. </p>
                                    </a>
                                    <a class="list-group-item">
                                        <h4 class="list-group-item-heading">Contributors</h4>
                                        <p class="list-group-item-text" id="doc_contributors"> Without contributors. </p>
                                    </a>
                                    <a class="list-group-item">
                                        <h4 class="list-group-item-heading">Production date</h4>
                                        <p class="list-group-item-text" id="doc_production_date"> Without production date. </p>
                                    </a>
                                    <a class="list-group-item">
                                        <h4 class="list-group-item-heading">Distribution date</h4>
                                        <p class="list-group-item-text" id="doc_distribution_date"> Without distribution date. </p>
                                    </a>
                                    <a class="list-group-item">
                                        <h4 class="list-group-item-heading">Type</h4>
                                        <p class="list-group-item-text" id="doc_type"> Without type. </p>
                                    </a>
                                    <a class="list-group-item">
                                        <h4 class="list-group-item-heading">Format</h4>
                                        <p class="list-group-item-text" id="doc_format"> Without format. </p>
                                    </a>
                                    <a class="list-group-item">
                                        <h4 class="list-group-item-heading">Identifier</h4>
                                        <p class="list-group-item-text" id="doc_identifier"> Without identifier. </p>
                                    </a>
                                    <a class="list-group-item">
                                        <h4 class="list-group-item-heading">Source</h4>
                                        <p class="list-group-item-text" id="doc_source"> Without source. </p>
                                    </a>
                                    <a class="list-group-item">
                                        <h4 class="list-group-item-heading">Language</h4>
                                        <p class="list-group-item-text" id="doc_language"> Without language. </p>
                                    </a>
                                    <a class="list-group-item">
                                        <h4 class="list-group-item-heading">Relations</h4>
                                        <p class="list-group-item-text" id="doc_relation"> Without relations. </p>
                                    </a>
                                    <a class="list-group-item">
                                        <h4 class="list-group-item-heading">Regions</h4>
                                        <p class="list-group-item-text" id="doc_coverage_region"> Without regions. </p>
                                    </a>
                                    <a class="list-group-item">
                                        <h4 class="list-group-item-heading">Countries</h4>
                                        <p class="list-group-item-text" id="doc_coverage_country"> Without countries. </p>
                                    </a>
                                    <a class="list-group-item">
                                        <h4 class="list-group-item-heading">Administrative units</h4>
                                        <p class="list-group-item-text" id="doc_coverage_admin_unit"> Without administrative units. </p>
                                    </a>
                                    <a class="list-group-item">
                                        <h4 class="list-group-item-heading">Rights</h4>
                                        <p class="list-group-item-text" id="doc_rights"> Without information about rights. </p>
                                    </a>
                                    <a class="list-group-item">
                                        <h4 class="list-group-item-heading">Contact</h4>
                                        <p class="list-group-item-text" id="doc_contact"> Without contact information. </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PROFILE CONTENT -->
    </div>
</div>